Django==5.2.1
djangorestframework==3.16.0
opencv-python-headless==4.11.0.86
ultralytics==8.3.141
torch==2.7.0
torchvision==0.22.0
numpy==2.2.6
insightface==0.7.3
mtcnn==1.0.0
scikit-learn==1.6.1
onnxruntime-gpu==1.22.0